.heading {
    font-family: $font-fam-pri;
    font-style: normal;
    font-weight: normal;
    font-size: $font-big;
    line-height: 143.3%;

    color: $color-dark;

    @include respond(phone) {
        font-size: $font-big-phone;
    }
}

/*
 @include respond() {
    }
*/