//colors
$color-primary-light: #F7FAFF;
$color-primary-dark : #428EDF;
$color-primary-darker : #0057B7;
$color-primary-darkest : #001730;
$color-dark : #000000;
$color-white : #ffffffff;

//font family 
$font-fam-pri: 'Montserrat',
sans-serif;
$font-fam-sec: 'Roboto',
sans-serif;

//font-size
//big
$font-big : 7.2rem;
$font-big-phone : $font-big * 1.5;

//meduim
$font-meduim : 5.4rem;
$font-meduim-phone : $font-meduim * 1.5;

//small
$font-small : 4.5rem;
$font-small-phone : $font-small * 1.5;

//smaller
$font-smaller : 3.6rem;
$font-smaller-phone : $font-smaller * 1.5;

//smallest
$font-smallest : 2.4rem;
$font-smallest-phone : $font-smallest * 2;