//colors
$color-primary-light: #F7FAFF;
$color-primary-dark : #428EDF;
$color-primary-darker : #0057B7;
$color-primary-darkest : #001730;
$color-dark : #000000;
$color-white : #ffffffff;

//font family 
$font-fam-pri: 'Montserrat',
sans-serif;
$font-fam-sec: 'Roboto',
sans-serif;

//font-size
$font-big : 7.2rem;
$font-meduim : 5.4rem;
$font-small : 4.5rem;
$font-smaller : 3.6rem;
$font-smallest : 2.4rem;