.bsDropDown,
.mvDropDown,
.cvDropDown,
.wdDropDown,
.osDropDown {
    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: 5px solid $color-dark;
        padding-bottom: 2.3rem;
        margin-bottom: 3.9rem;

    }

    &__content {
        margin-left: 30rem;
        display: none;

    }
}