.message {

    &__btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include respond(phone) {
            justify-content: initial;
        }
    }
}

.svg-about-us {
    position: absolute;
    margin-left: -6.75rem;
    width: 109%;
    z-index: -50;
}