.message {

    &__btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include respond(phone) {
            justify-content: initial;
        }
    }
}